<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd"
        >

<hibernate-configuration>

  <session-factory>

    <!-- Database connection settings -->
    <!-- <property name="connection.driver_class">org.hsqldb.jdbcDriver</property> <property name="connection.url">jdbc:hsqldb:hsql://localhost/TestDB</property> -->

    <!-- H2 DATABASE SETTINGS -->
<!--     <property name="connection.driver_class">org.h2.Driver</property>
    <property name="connection.url">jdbc:h2:tcp://localhost/~/test</property>
    <property name="connection.username">sa</property>
    <property name="connection.password">sa</property> -->

    <!-- POSTGRE SETTINGS -->
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.url">jdbc:postgresql://localhost:5432/board</property>
    <property name="connection.username">db_user</property>
    <property name="connection.password">password</property>


    <!-- JDBC connection pool (use the built-in) -->
    <property name="connection.pool_size">5</property>

    <!-- SQL dialect -->
    <property name="dialect">
      <!-- org.hibernate.dialect.H2Dialect -->
      org.hibernate.dialect.PostgreSQLDialect
    </property>

    <property name="cache.provider_class">org.hibernate.cache.NoCacheRegionFactoryAvailableException</property>

    <!-- Echo all executed SQL to stdout -->
    <property name="show_sql">true</property>

    <!-- Drop and re-create the database schema on startup -->
    <property name="hbm2ddl.auto">update</property>

    <!-- Entity classes -->
    <mapping class="ua.hypson.mvc.entity.User" />
    <mapping class="ua.hypson.mvc.entity.Role" />
    <mapping class="ua.hypson.mvc.entity.Message" />

  </session-factory>

</hibernate-configuration>
